@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

/* CSS Variables */
:root {
    --primary-font: 'Dongle', sans-serif;
    --secondary-font: 'Kanit', Monospace;
    --white: #F7EBE8;
    --black: #272727;
    --teal: #2d9abb;
    /* --teal: #22AAA1; */
    --red: #FDE467;
    --mint: #55FF99;

}

/* Global styles */
body {
    font-family: var(--primary-font);
    color: var(--black);
    background-color: #1a6877;
}



h1, h2, h3 {
    font-family: var(--secondary-font)
}



/* Specific styles */

nav {
    box-shadow: 0 2px 4px #646464;
    background-color: var(--white);
    font-size: 150%;
}

/* Header */
header {
    border-radius: 30px;
    background-color: var(--teal);
    color: var(--white);
    z-index: 1;
    box-shadow: 0 2px 4px #646464;


}

header p, footer p {
    letter-spacing: 1px;
}

#hero {
    position: relative;
}

header img {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
}

#hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

#hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 50px rgba(0, 0, 0, 1);
}
/* MAIN */

#maincontent {
    border-radius: 0 0 30px 30px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    position: relative;
    margin-top: -30px;
}

#thesigns, #whattodo {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #3b3b3b;
}

#thesigns li, #whattodo li {
    list-style-type: none;
    margin-top: .5rem;
}

#thesigns li::after {
        content: '';
        display: inline-block;
        height: 3rem;
        width: 3rem;
        vertical-align: middle;
        background-image: url(../images/favicons/favicon-96x96.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.5rem;
}

#whattodo li::before {
    content: '';
    display: inline-block;
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    background-image: url(../images/favicons/favicon-96x96.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
}

#thesigns li::before {
    content: '';
    display: none;
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    background-image: url(../images/favicons/favicon-96x96.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
}

#thesigns {
    background-color: var(--red);
    border-radius: 30px 0 0 30px;
    
    text-align: right;
    list-style-position: inside;
}

#whattodo {
    background-color: var(--mint);
    border-radius: 0 30px 30px 0;
}

#troubledyouth , #gettinghelp {
    height:300px;
    min-width: 100%;
    object-fit: cover;
    margin-top: auto;
}

#troubledyouth {
    border-radius: 0 0 0 30px;
    object-position: 0 0;
}

#gettinghelp {
    border-radius: 0 0 30px 0;
    object-position: 0 15%;

}

p, main li, #contact form {
    font-size: 190%;
    line-height: 90%;
}

#contact select, #contact input, #contact textarea {
    font-size: 100%;
    line-height: 80%;
}

footer {
    border-radius: 30px 30px 0 0;
    border-top: 8px solid var(--teal);
    border-left: 8px solid var(--teal);
    border-right: 8px solid var(--teal);
    padding: 30px;
    background-color: var(--white);
}

#immediate {
    background-color: red;
    color: white;
    border-radius: 30px;
}

#get-help, #submit-get-help {
    font-size: inherit;
}

.socialinitial {
    font-size: initial;
}

#socials {
    list-style-type: none;
    font-size: 2.5rem;
    gap: 10px;
}

#socials a {
    color: var(--black);
}

#socials i:hover {
    color: var(--teal);
    transition: color 0.1s ease-in-out;
}

/* Thank you  page*/

#thankyou-container {
    background-color: var(--white);
    border-radius: 30px;
}

#respond {
    color: var(--teal);
}

/* Media queries */
@media screen and (min-width: 768px) {
    #maincontent {
        text-align: left;
    }

    #thesigns {
        text-align: left;
        list-style-position: outside;
    }

    #thesigns li::after {
        display: none;
}

    #thesigns li::before {
    display: inline-block;
    }
}

@media screen and (min-width: 1200px) {
    #thesigns, #whattodo {
        border-radius: 30px;
        margin-left: auto;
        margin-left: auto;
        width: 47%;
    }

    #thesigns >h3 , #whattodo > h3 {
        text-align: center;
    }
    
    #troubledyouth {
        border-radius: 0 0 30px 30px;
        height:400px;

    
    }
    
    #gettinghelp {
        border-radius: 0 0 30px 30px;
        height:400px;

    }
}